.userTable {
  min-width: 70%;
  tr {
    &:hover {
      background-color: #6f7a9e;
      color: white;
    }
  }
}

.chatroomTable {
  min-width: 70%;
  tr {
    &:hover {
      background-color: #6f7a9e;
      color: white;
    }
  }
}


